.save-viewer-modal {
  background: var(--primary--color);
  color: var(--text--color);
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.save-viewer-modal h3 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.save-viewer-modal input,
.save-viewer-modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
}

.save-viewer-modal textarea {
  height: 80px;
}

.save-viewer-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons button {
  flex: 1;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal-buttons button.cancel {
  background-color: #ccc;
  color: black;
}

.modal-buttons button.cancel:hover {
  background-color: #999;
}

.modal-buttons button.save {
  background-color: var(--secondary--color);
  color: white;
}

.modal-buttons button.save:hover {
  background-color: var(--active--color);
}

.save-viewer-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.image-options {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.upload-image-from-pc {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: black;
}

.upload-image-from-pc.disabled {
  opacity: 0.5;
  pointer-events: none;
}