.argenmap-viewer {
  display: flex;
  width: 100%;
  height: 83.5vh;
}

.argenmap-navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.argenmap-form {
  flex: 1;
  overflow: hidden;
}

.argenmap-form-content {
  border-right: 1px solid #ccc;
  padding-right: 0.5rem;
  overflow-y: auto;
  max-height: 72vh;
}

.argenmap-form-selector {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.argenmap-footer {
  margin-top: auto;
  background-color: #e1e1e1;
  padding: 0.5rem;
}

.argenmap-viewer-name {
  color: #000;
  background-color: #e1e1e1;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
  font-weight: bold;
}

.tab-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.2s ease;
}

.tab-btn.active {
  background-color: #007acc;
  color: white;
}

.tab-btn:hover:not(.active) {
  background-color: #e0e0e0;
}

.argenmap-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.iframe-preview {
  flex: 1;
  border: 1px solid #ccc;
  min-height: 600px;
}

.hidden-form {
  display: none;
}

.argenmap-footer .global-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.argenmap-footer .global-buttons button,
.argenmap-footer .global-buttons label {
  width: auto;
  margin-bottom: 0;
}