.management-container {
  padding: 2rem;
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  color: var(--primary--color);
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-title {
  color: var(--primary--color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.dashboard-section {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(36, 44, 79, 0.1);
}

/* .dashboard-group-select {
}
 */
.dashboard-group-select label {
  font-weight: bold;
  padding: 1rem;
}

.dashboard-group-select select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid var(--secondary--color);
  background-color: #f9f9f9;
}

.group-data-table{
  text-align: center;
  padding-bottom: 4rem;
/*   padding: 1rem; */
}
.group-data-table h2 {
  padding: 1rem;
  color: var(--secondary--color);
}



.group-tab-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.group-tab-menu button {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-tab-menu button.active {
  background-color: var(--secondary--color);
  color: white;
}





.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.modal-button.confirm {
  background-color: #4caf50;
  color: white;
}

.modal-button.cancel {
  background-color: #ccc;
  color: #333;
}