.mygroups-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: azure;
}

.mygroups-header {
  height: 8%;
  width: 100%;
  background-color: rgb(41, 216, 216);
}

.mygroups-body{
  display: flex;
  background-color: bisque;
  width: 100%;
  height: 100%;
}

.mg-lists{
  width: 20%;
  height: 100%;
  background-color:blue;
}

.mg-list-header{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 8%;
  background-color: bisque;
}

.mg-list-header button {
  width: 45%;
  height: 90%;
}

.mg-list-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 92%;
  background-color: rgb(214, 126, 17);
  overflow: auto;
}

.mg-list-body button{
height: 5%;
width: 90%;
}

.mg-info{
  width: 80%;
  height: 100%;
  background-color: blueviolet;
}