@tailwind base;
@tailwind components;
@tailwind utilities;

/* #242C4F
R:37 G:44 B:79
C:96% M:85% Y:38% K:38%

#45658D
R:69 G:101 B:141
C:79% M:56% Y:25% K:8%

#E7BA61
R:231 G:186 B:97
C:10% M:27% Y:69% K:1%

#141414
R: 20 G:20 B:20
C:78% M:69% Y:61% K:87%

#ffffff
R:255 G:255 B:255
C:0% M:0% Y:0% K:0% */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary--color: #242C4F;
  --secondary--color: #45658D;
  --text--color: #ffffff;
  --active--color: #E7BA61;

  --primary-default--color: #242C4F;
  --secondary-default--color: #45658D;
  --text-default--color: #ffffff;
  --active-default--color: #E7BA61;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.download {
  background-color: #0070f3;
  color: white;
  border-radius: 8px;
  padding: 6px 10px;
  text-align: center;
  margin: 5% 33%;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex: 1;
}

.editor-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.form-container {
  width: 50%;
  border-right: 1px solid #ccc;
  height: 92vh;
}

.preview-container {
  width: 100%;
  height: 95vh;
}

.tabs-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
}

.tab.active {
  border-bottom: 2px solid #0070f3;
  font-weight: bold;
}

.form-content {
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
}