@tailwind base;
@tailwind components;
@tailwind utilities;

/* #242C4F
R:37 G:44 B:79
C:96% M:85% Y:38% K:38%

#45658D
R:69 G:101 B:141
C:79% M:56% Y:25% K:8%

#E7BA61
R:231 G:186 B:97
C:10% M:27% Y:69% K:1%

#141414
R: 20 G:20 B:20
C:78% M:69% Y:61% K:87%

#ffffff
R:255 G:255 B:255
C:0% M:0% Y:0% K:0% */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary--color: #242C4F;
  --secondary--color: #45658D;
  --text--color: #ffffff;
  --active--color: #E7BA61;

  --primary-default--color: #242C4F;
  --secondary-default--color: #45658D;
  --text-default--color: #ffffff;
  --active-default--color: #E7BA61;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* NAVBAR */
.navbar {
  background-color: var(--primary--color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 20px 0; */
  width: 10%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar ul li {
  margin-bottom: 10px;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.version-info {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text--color);
}

.select-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px;
}

.select-container i {
  margin-right: 10px;
  color: var(--text--color);
}

.lang-select {
  background-color: var(--primary--color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: var(--text--color);
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 35%;
}

.lang-select option {
  background-color: var(--primary--color);
  color: var(--text--color);
}

.lang-select:hover {
  border-color: var(--active--color);
}

.lang-select:focus {
  border-color: var(--active--color);
  color: var(--active--color);
}

.lang-select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  color: var(--active--color); 
}

.showHide-button {
  color: rgb(255, 255, 255); 
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.navbar-button {
  background-color: var(--secondary--color);
  color: var(--text--color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: left; 
}

.navbar-button:hover {
  background-color: var(--active--color); 
}

.navbar-button .icon {
  margin-right: 8px;
  font-size: 20px;
}

.navbar-button.active {
  background-color: var(--active--color); 
}

/* CLEAR BUTTON */
.clear-storage {
  background-color: var(--text--color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.clear-storage:hover {
  background-color: var(--active--color);
}

/* DOWNLAOD BUTTON */
.download-button {
  background-color: green;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.download-button:hover {
  background-color: var(--active--color);
}
/* NAVBAR */


/* EDITOR CONTAINER */
.editor-container {
  display: flex;
  width: 100%;
  height: 100%;
}
/* EDITOR CONTAINER */


/* FORMULARIO EXTERNO */
.form-container {
  width: 50%;
  border-right: 2px solid #ccc;
  display: grid;
  height: 100vh;
  overflow: scroll;
  /* background-color: var(--secondary--color); */
}
/* FORMULARIO EXTERNO */


/* PREVIEW */
.preview-container {
  width: 100%;
  height: 100vh;
}
/* PREVIEW */


/* TABS */
.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  background-color: var(--primary--color);
  gap: 5px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary--color);
}

.tab.active {
  font-weight: bold;
  background-color: var(--active--color);
}

.tab-button {
  background-color: var(--secondary--color);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 6px 10px;
  text-align: center;
}

.tab-button:hover {
  background-color: var(--active--color);
}
/* TABS */


/* FORMULARIO INTERNO */
.form-content {
  overflow-y: auto;
  padding: 5px;
}
/* FORMULARIO INTERNO */


/* .MuiCardHeader-root {
  background-color: yellow;
  border-radius: 5px;
} */
/* LABEL del form */
.css-1dpseql-MuiCardHeader-content {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}

/* CONTENIDO DEL FORM */
.MuiGrid-root {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 5px;
}

/* .MuiCardContent-root {
  background-color: green;
  border-radius: 5px;
} */

.color-picker-label {
	color: rgba(0, 0, 0, 0.6);
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 500;
	font-size: 0.8rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
	padding: 0;
	position: relative;
	display: block;
}

.css-18pjc51-MuiFormLabel-root-MuiInputLabel-root {
	color: rgba(0, 0, 0, 0.6);
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
	padding: 0;
	position: relative;
	display: block;
	transform-origin: top left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(0, 20px) scale(1);
	-moz-transform: translate(0, 20px) scale(1);
	-ms-transform: translate(0, 20px) scale(1);
	transform: translate(0, 20px) scale(1);
	-webkit-transform: translate(0, -1.5px) scale(0.75);
	-moz-transform: translate(0, -1.5px) scale(0.75);
	-ms-transform: translate(0, -1.5px) scale(0.75);
	transform: translate(0, -1.5px) scale(0.75);
	transform-origin: top left;
	max-width: 133%;
	-webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	z-index: 1;
	pointer-events: none;
	-webkit-transform: translate(14px, 16px) scale(1);
	-moz-transform: translate(14px, 16px) scale(1);
	-ms-transform: translate(14px, 16px) scale(1);
	transform: translate(14px, 16px) scale(1);
	max-width: calc(100% - 24px);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: auto;
	max-width: calc(133% - 32px);
	-webkit-transform: translate(14px, -9px) scale(0.75);
	-moz-transform: translate(14px, -9px) scale(0.75);
	-ms-transform: translate(14px, -9px) scale(0.75);
	transform: translate(14px, -9px) scale(0.75);
}

/* Paddings de formularios */
.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0px;
	padding: 0px;
}
/* .css-46bh2p-MuiCardContent-root {
	padding: 0px;
  padding-bottom: 0px;
} */