.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary--color);
}

.logo {
  width: 7rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--text--color);
  background-color: var(--secondary--color);
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--text--color);
  background-color: var(--active--color);
}

.nav-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  background-color: var(--secondary--color);
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-button:hover,
.nav-button.active {
  color: var(--active--color);
}

.profile-button {
  background-color: var(--active--color);
}

.profile-button:hover {
  color: var(--primary--color);
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown-menu {
  position: absolute;
  right: 0;
  top: 110%;
  background-color: var(--primary--color);
  color: black;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 12.5rem;
  overflow: hidden;
  border: 0.125rem solid var(--secondary--color);
}

.navbar-dropdown-menu button {
  background: none;
  border: none;
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--text--color);
  cursor: pointer;
  background-color: var(--primary--color);
  transition: background-color 0.2s;
  width: 100%;
}

.navbar-dropdown-menu button:hover {
  background-color: var(--secondary--color);
  color: white;
}