.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary--color);
}

.logo {
  width: 7rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  gap: 0.5rem;
  padding: 1rem;

  text-decoration: none;
  color: white;
  background-color: var(--secondary--color);
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--active--color);
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 1rem;

  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: var(--secondary--color);
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-button:hover,
.nav-button.active {
  color: var(--active--color);
}