.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  z-index: 999;

}

.form-login {
  display: flex;
  flex-direction: column;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}