table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: var(--primary--color);
  font-family: 'Segoe UI', sans-serif;
}

thead {
  background-color: var(--primary--color);
  color: var(--text--color);
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--secondary--color);
}

tr:hover {
  background-color: rgba(36, 44, 79, 0.05);
}

td {
  color: var(--primary--color);
}

td:last-child {  /* aplica solo a la "botonera" (acciones) */
  display: flex;
  gap: 0.5rem;
}

tbody tr:last-child td {
  border-bottom: none;
}

.btn-management {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;

  border-radius: 20%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-management:hover {
  background: rgba(0, 0, 0, 0.205);
}

.btn-management i {
  font-size: 1.6rem;
  line-height: 1;
}

.btn-delete {
  color: red;
}

.btn-edit{
  color: var(--secondary--color)
}

input {
  width: 100%;
  padding: 0.4rem;
  font-family: inherit;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
