.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary--color);
  height: 6vh;
  padding: 0 1rem;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.footer-banner {
  height: 4vh;
  width: auto;
  object-fit: contain;
}

.foot-items {
  display: flex;
  gap: 1rem;
  color: white;
  margin-right: 1.25rem;
}

.release-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.release-version {
  font-size: 1rem;
  font-weight: normal; 
  margin: 0;
  color: white;
}