.visor-modal {
  background-color: var(--primary--color);
  border-radius: 12px;
  width: 60vw;
  max-height: 84vh;
  padding: 20px;
  position: relative;
  color: var(--text--color);
  border: 2px solid var(--secondary--color);
}

.visor-modal-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.visor-list-container {
  flex: 1;
  margin: 15px 0;
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 50vh;
  overflow: auto;
}

.visor-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
}

.visor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--secondary--color);
  user-select: none;
}

.visor-item:hover {
  background-color: var(--active--color);
  color: black;
}

.visor-item.selected {
  border-color: #007bff;
  color: black;
  background-color: var(--active--color);
}

.visor-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.visor-info h3 {
  margin: 0;
  font-size: 1.1em;
}

.visor-info p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text--color);
  text-align: initial;
}

.visor-info p.visor-date,
.visor-info p.visor-privacy {
  font-size: 0.9em;
  color: var(--text--color);
  margin: 2px 0;
}

.visor-modal-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex-shrink: 0;
}

.visor-description {
  background-color: var(--primary--color);
  border-radius: 12px;
  width: 47vw;
  height: 19vh;
  max-height: 19vh;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  color: var(--text--color);
  border: 2px solid var(--secondary--color);
}

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49vw;
  height: 44vh;
  color: #000000;
  font-size: 1.2rem;
  gap: 16px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.no-visors-message {
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  margin-top: 20px;
}

.container-display-0 {
  display: contents;
}

.container-display-1 {
  display: flex;
  height: 84vh;
}

.flex-0 {
  flex: 0;
  width: 59%;
}

.flex-1 {
  flex: 1;
}

.visor-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary--color);
  padding-left: 20px;
  padding-right: 20px;
}

.visor-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}