.visor-modal {
  background-color: var(--primary--color);
  border-radius: 12px;
  width: 100%;
  max-height: 83vh;
  padding: 20px;
  position: relative;
  color: var(--text--color);
  border: 2px solid var(--secondary--color);
  height: 83vh;
}

.visor-modal-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.visor-list-container {
  flex: 1;
  margin: 15px 0;
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #d9d9d9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  transition: height 0.3s ease;
}

.visor-list-container.preview-closed {
  height: 63vh;
}

.visor-list-container.preview-open {
  height: 42vh;
}

.visor-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  gap: 12px;
}

.visor-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--active--color);
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #FFF;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.visor-item:hover {
  background-color: var(--active--color);
  color: black;
}

.visor-item.selected {
  border-color: #007bff;
  color: black;
  background-color: var(--active--color);
}

.visor-image {
  /* width: 100%; */
  object-fit: cover;
  height: 18vh;
}

.visor-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  color: black;
}

.visor-info h3 {
  margin: 0;
  font-size: 1.1em;
}

.visor-info p {
  margin: 0;
  text-align: initial;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visor-info p.visor-date,
.visor-info p.visor-privacy {
  font-size: 0.9em;
  color: var(--text--color);
  margin: 2px 0;
  margin-top: auto;
  color: #575757;
}

.visor-modal-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex-shrink: 0;
}

.visor-description {
  background-color: var(--primary--color);
  border-radius: 12px;
  width: 47vw;
  height: 19vh;
  max-height: 19vh;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  color: var(--text--color);
  border: 2px solid var(--secondary--color);
}

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49vw;
  height: 44vh;
  color: #000000;
  font-size: 1.2rem;
  gap: 16px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.no-visors-message {
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  margin-top: 20px;
}

.container-display-0 {
  display: contents;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.container-display-1 {
  display: flex;
  height: 83vh;
  opacity: 1;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.flex-0 {
  flex: 0;
  width: 59%;
}

.flex-1 {
  flex: 1;
}

.visor-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary--color);
  padding-left: 20px;
  padding-right: 20px;
}

.visor-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.visor-info-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.visor-info-text {
  flex: 1;
  padding-right: 20px;
}

.group-image-right {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.visor-filter-navbar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}

.visor-filter-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.visor-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.visor-filter-buttons button {
  background-color: var(--primary--color);
  color: var(--text--color);
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 5vh;
  margin-bottom: -16px;
}

.visor-filter-buttons button.active {
  background-color: var(--active--color, #1e90ff);
  font-weight: bold;
}

.visor-filter-buttons button:hover {
  background-color: var(--active--color);
}

.viewer-role {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.viewer-filter-divider {
  width: 100%;
  height: 1px;
  background-color: var(--secondary--color);
  margin-top: 0.5rem;
}

.viewer-public-icon {
  color: #4caf50;
  margin-left: 8px;
  font-size: 0.9em;
  vertical-align: right;
}

.viewer-private-icon {
  color: #737373;
  margin-left: 8px;
  font-size: 0.9em;
  vertical-align: right;
}