.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary--color);
  height: 84vh;
}

.welcome-screen-modal {
  width: 500px;
  padding: 40px;
  background-color: var(--secondary--color);
  border-radius: 8px;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.welcome-screen-modal h2,
.welcome-screen-modal h2 {
  margin-bottom: 1rem;
  font-size: 22px;
  border-bottom: 1px solid var(--active--color);
  padding-bottom: 0.5rem;
}

.welcome-screen-modal p {
  margin: 0.5rem 0;
  font-size: 16px;
  text-align: justify;
}
